body {
background-color: white;
margin: 0;
color: black;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  background-color: white;
  
}
